.header-link,
.active-link-header,
.footer-link,
.active-link-footer {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.header-link::before,
.active-link-header::before,
.footer-link::before,
.active-link-footer::before {
  content: "";
  opacity: 0;
  width: 7px;
  height: 7px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #ff9f0e;
  transition: opacity 0.3s;
}

.active-link-header::before,
.active-link-footer::before {
  opacity: 1;
}

.header-link:hover,
.active-link-header,
.footer-link::before,
.active-link-footer {
  font-weight: bold;
}

.header-link:hover::before,
.footer-link:hover::before {
  opacity: 1;
}
